* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
}
.page1 {
  width: 100%;
  height: 100vh;
  background-color: #00ff3c;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}
.page2 {
  height: 100vh;
  width: 100%;
  background-color: #ee00ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.page3 {
  width: 100%;
  height: 100vh;
  background-color: #eaff00;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.page4 {
  height: 100vh;
  width: 100%;
  background-color: #0800ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page1 .box {
  width: 30%;
  height: 400px;
  background-color: #0800ff;
}
.page2 .box {
  width: 30%;
  height: 400px;
  background-color: #37ff00;
}
.page3 .box {
  width: 22%;
  height: 400px;
  background-color: aqua;
}

.page4 .box {
  width: 60%;
  height: 500px;
  background-color: chartreuse;
}
.swiper {
  width: 100%;
  height: 100vh;
  background-color: #0095ff;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide .boxes1 {
  width: 80%;
  height: 600px;
  background-color: #37ff00;
}

.swiper-slide .boxes2 {
  width: 80%;
  height: 600px;
  background-color: #ff0000;
}
.swiper-slide .boxes3 {
  width: 80%;
  height: 600px;
  background-color: #ff00ee;
}
.swiper-slide .boxes4 {
  width: 80%;
  height: 600px;
  background-color: #d9ff00;
}
.swiper-slide .boxes5 {
  width: 80%;
  height: 600px;
  background-color: #ffb300;
}
.swiper-slide .boxes6 {
  width: 80%;
  height: 600px;
  background-color: #00ffee;
}
.swiper-button-next,
.swiper-button-prev {
  color: red;
}
.swiper-pagination {
  color: #ffffff;
}
